<dog-breed-list></dog-breed-list>

<dog-breed-viewer class="my-4"></dog-breed-viewer>

<footer class="footer">
  <div class="container-fluid">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputLanguage">{{'language' | translate}}</label>
      </div>
      <select class="custom-select" id="inputLanguage" (change)="onChangeLanguage($event)">
        <option value="es">{{'spanish' | translate}}</option>
        <option value="en">{{'english' | translate}}</option>
      </select>
    </div>
  </div>
</footer>
